Capfile
config/deploy.rb
log/*.log
**/*.spec.log
db/*.sqlite3
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
public/assets/*
public/cache/*
public/images/themes/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/themes
public/files/*
public/system
*.swp
.DS_Store
*.so
*.dylib
*.o
*.bundle
Makefile
*.out
mkmf.log
coverage.data
conftest.dSYM
vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
.bundle
public/stylesheets/.sass-cache/*
tmp/*
settings.json
/.env
/.env.development
/.env.test
!/.env*.erb
db/development*
/storage
/coverage

# Ignore master key for decrypting credentials and more.
/config/master.key

/app/assets/builds/*
!/app/assets/builds/.keep
